*.png
*.pdf
*.xlsx
*.pdf
*.zip
*.xml
*.csv
*.png
*.pptx
.ipynb_checkpoints/
__pycache__/
TODO
code5.c
filters/fixationpoints/
filters/newdata
filters/list_of_all_students.txt
*.mat
*.rar
Spam*
*.pkl
Ayush_code details/
report/